body {
  margin: 0;
  padding: 0;
  background-image: url(./images/restaurant.jpg);
  background-size: cover;
  top: 0;
  left: 0;
  height: 100vh;
}

section {
  position: absolute;
  width: 100%;
  height: 100vh;
}

ul {
  display: flex;
  padding-top: 15rem;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: center;
  padding-inline-start: 0px;
}

ul li {
  list-style: none;
  width: 20%;
}

ul li a {
  display: block;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 5vw;
  font-weight: 900;
  text-decoration: none;
  cursor: pointer;
  transition: 0.5s;
}

ul li a:hover {
  background: none;
  color: blueviolet;
}

section img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  transition: 0.5s;
  opacity: 0;
}

ul li a:hover + img {
  opacity: 1;
}

.top a {
  font-size: 1.5vw;
  font-weight: 800;
  color: #fff;
  padding-left: 5%; 
  text-decoration: underline;
  line-height: 1cm;
}

